<% include ../partials/header %>

<div class="container">

	<div class="row">
		<div class="col-md-3">
			<div class="list-group">
				<a class="list-group-item list-group-item-action list-group-item-primary active" href="/civilizations/<%= civilization._id %>/sections">Events</a>			
				<% civilization.sections.forEach(function(section) { %>
					<a class="list-group-item list-group-item-action list-group-item-secondary" href="/civilizations/<%= civilization._id %>/sections/<%= section._id %>">
						<%= section.name %>	
					</a>
				<% }); %>
				<a class="list-group-item list-group-item-action list-group-item-dark" href="/civilizations/<%= civilization._id %>/sections/new">Add a new event...</a>
			</div>
		</div>
		<div class="col-md-9">
			<div class="show-upper">		
				<img class="ui rounded big image image-responsive show-image" src="<%= civilization.image %>">
				<div>
					<h1><%= civilization.name %></h1>
					<p><em>By <%= civilization.author.username %></em></p>
					<p class="description"><%= civilization.description %></p>					
				</div>


				<% if(currentUser && civilization.author.id.equals(currentUser._id)) { %>
					<span><a class="ui inverse yellow button" href="/civilizations/<%= civilization._id %>/edit">Edit</a></span>
					<form class="inline" action="/civilizations/<%= civilization._id %>?_method=DELETE" method="POST">
						<button class="ui inverse red button">Delete</button>
					</form>
				<% } %>
			</div>
			<div class="comments">
				<% if(currentUser) { %>
					<div class="text-right">
						<a href="/civilizations/<%= civilization._id %>/comments/new" class="ui inverse green button">Add new comment</a>
					</div>
				<% } %>
				<% civilization.comments.forEach(function(comment) { %>
					<div class="comment">
						<p><strong><%= comment.author.username %></strong> <span><%= comment.content %></span></p>
						<% if(currentUser && comment.author.id.equals(currentUser._id)) { %>
							<span><a class="ui inverse yellow button" href="/civilizations/<%= civilization._id %>/comments/<%= comment._id %>/edit">Edit</a></span>
							<form class="inline" action="/civilizations/<%= civilization._id %>/comments/<%= comment._id %>?_method=DELETE" method="POST">
								<button class="ui inverse red button">Delete</button>
							</form>	
						<% } %>
					</div>				
				<% }); %>
			</div>
		</div>
	</div>
</div>

<% include ../partials/footer %>